/* Removing Default CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Style */
body {
    font-family: 'Poppins', sans-serif;
    color: #1B3C5E;
}

/* Navbar Section */
header {
    padding: 0.5rem 10%;
    background-color: #AEE4FF;
}

.navbar-brand {
    font-family: 'Lobster', cursive;
    font-size: 2.5rem;
    color: #1B3C5E;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-weight: 400;
    font-size: 1.2rem;
}

/* Home Section */

.webdev-img {
    width: 50%;
}

.home-section-img {
    width: 100%;
    height: auto;
    filter: drop-shadow(30px 10px 4px #1B3C5E);
}

#home {
    padding: 3% 10%;
    background-color: #AEE4FF;
    display: flex;    
}

.main-desc {
    width: 50%;
    height: auto;
    padding: 3rem 2rem;
}
.main-heading1 {
    font-family: 'Lobster', cursive;
    font-size: 4rem;
}

.main-heading2 {
    font-size: 1.75rem;
    line-height: 2;
}

.contact-btn {
    margin-top: 2.2rem;
    background-color: #1B3C5E;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
}

.contact-btn:hover {
    background-color: #fff;
}

/* About Section */

#about {
    padding: 5% 10%;
    background-color: #E3F2FD;
}

.about-img1 {
    width: 200px;
    height: auto;
    float: left;
}

.about-img2 {
    width: 200px;
    height: auto;
    float: right;
}
 
.about-desc {
    width: 100%;
}
/*
.about-p {
    align-items: center;
} */

/* Skills Section */

#skills {
    padding: 5% 10%;
    background-color: #fff;
}


/* Contact Section */
#contact {
    padding: 5% 10%;
    background-color: #E3F2FD;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Feature Section */

#features {
    padding: 7% 15%;
    text-align: center;
    background-color: white;
    position: relative;
}


.feature-desc {
    padding: 0 7%;
    color: #8f8f8f;
}

.feature-icon {
    margin-right: 1rem;
}

.feature-icon:hover {
    color: #ff4c68;
}

.card {
    margin: 1rem 0;
}

/* Footer Section */
footer {
    background-color: #1B3C5E;    
    color: #E3F2FD;
    padding: 3% 15% 0.5rem;
    text-align: center;
    border-radius: 1rem 1rem 0 0;
}

.footer-p {
    font-weight: 300;
}

.footer-icon {
    margin: 20px;
}

.submit-btn {
    padding: 10px 40px;
    background-color: #1B3C5E;
    border-radius: 8px;
    font-size: 1.2rem;
    color: #fff;
}
.submit-btn:hover {
    background-color: #fff;
    color: #1B3C5E;
}